{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}
{{!-- <Navigation /> --}}
{{!-- <LinkTo @route='rooms.index'>rooms</LinkTo>
<LinkTo @route='people.index'>people</LinkTo> --}}
<Navigation />
<div class="md:pl-16">
  {{outlet}}
</div>