{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}
<h1>Navigate</h1>
<LinkTo @route='rooms.index'>rooms</LinkTo>
<LinkTo @route='people.index'>people</LinkTo>
{{outlet}}