<Background::Pure>
<Background::Box as |box|>

  <h1 class='font-bold text-2xl'>ประกาศ</h1>
  {{#if this.auth.is_auth}}
    <LinkTo @route='blogs.new'>
      <Button @icon='plus' class='mt-5'>สร้างประกาศ</Button>
    </LinkTo>
  {{/if}}
  <br>
  {{#each this.model as |blog|}}
    <div class='hover:bg-grey {{box.class}}'>
      <div class="border-t py-5">
        <LinkTo @route="blogs.show" @model={{blog}}>
          <Blog::Preview @value={{blog}} />
          <p>{{dayjs blog.created fn="fromNow"}}</p>
        </LinkTo>
      </div>
    </div>
  {{/each}}

</Background::Box>
</Background::Pure>