<div
  class="bg-cover bg-right bg-fixed h-full flex overflow-y-scroll"
  style="background-image: linear-gradient(45deg, #000A, #000A), url(/assets/img/bg-2.png)"
>
  <div
    class="container p-0 md:p-4 items-center m-auto"
    style='max-width: 600px; overflow-position: safe'
  >
    {{yield}}
  </div>
</div>
