<div class="container" style='padding-top: 4rem; padding-bottom: 4rem'>
  <div class="columns">
    <div class="column">
      <div class="has-text-centered">
        <h1 class="title">
          กวศ.
        </h1>
        <h2 class="subtitle">
          กรรมการนิสิตคณะวิศวกรรมศาสตร์
        </h2>

      </div>
    </div>
    <div class="column">
      <div style='width: 100%; max-height: 500px; overflow: scroll;'>
        <div class="field is-fullwidth">
          <b>ข่าววันนี้</b>
          <p>ประกาศใช้งานเสียงตายสาย</p>
        </div>
        <hr>
        <div class="field is-fullwidth">
          <b>ข่าววันนี้</b>
          <p>ประกาศใช้งานเสียงตายสาย</p>
        </div>
        <hr>
        <div class="field is-fullwidth">
          <b>ข่าววันนี้</b>
          <p>ประกาศใช้งานเสียงตายสาย</p>
        </div>
        <hr>
        <div class="field is-fullwidth">
          <b>ข่าววันนี้</b>
          <p>ประกาศใช้งานเสียงตายสาย</p>
        </div>
        <hr>

      </div>
    </div>

  </div>

</div>
