<section class="hero is-medium" [class.is-medium]="fullheight">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" routerLink="/">
            <img src="./assets/logo.png" alt="Logo" />
          </a>
          <span
            class="navbar-burger burger"
            [class.is-active]="openNav"
            (click)="openNav = !openNav"
          >
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div class="navbar-menu" [class.is-active]="openNav">
          <div class="navbar-end">
            <span class="navbar-item">
              <ng-container
                *ngIf="auth.user$.value; then logoutLink; else loginLink"
              >
              </ng-container>
              <ng-template #loginLink>
                <a class="button is-primary" routerLink="/login">
                  <span>เข้าสู่ระบบ</span>
                </a>
              </ng-template>
              <ng-template #logoutLink>
                <a class="button" (click)="auth.logout()">
                  <span>{{ auth.user$.value.nameTH }} ออกจากระบบ</span>
                </a>
              </ng-template>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body" [class.is-hidden]="!navigation">
    <div class="container has-text-centered">
      <h1 class="title">
        กวศ.
      </h1>
      <h2 class="subtitle">
        กรรมการนิสิตคณะวิศวกรรมศาสตร์
      </h2>
      <!-- <div>
        <app-k-date-picker></app-k-date-picker>
      </div> -->
    </div>
  </div>

  <div class="hero-foot" [class.is-hidden]="!navigation">
    <nav class="tabs is-boxed is-centered">
      <ul
        style="align-items: center; border-bottom-color: #dbdbdb; border-bottom-style: solid; border-bottom-width: 1px;"
      >
        <li routerLink="/room" routerLinkActive="is-active">
          <a href="#" routerLink="/room">จองห้อง</a>
        </li>
        <li routerLink="/club" routerLinkActive="is-active">
          <a href="#" routerLink="/club">ชมรม</a>
        </li>
        <li routerLink="/docs" routerLinkActive="is-active">
          <a href="#" routerLink="/club">ฟอร์มเอกสาร</a>
        </li>
        <!-- <li routerLink="/student" routerLinkActive="is-active">
          <a href="#" routerLink="/student">ฐานข้อมูล</a>
        </li> -->
        <li routerLink="/contact" routerLinkActive="is-active">
          <a href="#" routerLink="/contact">ติดต่อเรา</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
