<div class='py-5'>
  ฝากรูปภาพที่ <a class='text-primary' href='https://imgur.com'>imgur.com</a>
  <br>
  รู้จัก markdown <a class='text-primary' href='https://guides.github.com/features/mastering-markdown'>mastering-markdown</a>
</div>