<div class="record" [attr.data-id]="value.id" [attr.data-status]="value.status">
  <div (click)='toggleVisibleDetail()' style='cursor: pointer'>
    <p class="organization">{{ value.organization }}</p>
    <div class="is-flex">
      <p class="time">
        {{ value.time_start | date_format: "HH:mm" }} -
        {{ value.time_end | date_format: "HH:mm" }}
      </p>
      <p class="room">{{ value.room.label }}</p>
    </div>
  </div>
  <div #detail class='detail' style='overflow: hidden'>
    <br>
    โดย {{ value.user.nameTH }} {{ value.user.surnameTH }}
    <br />
    ติดต่อ {{ value.user.tel }}
    <br />
    <br />
    <div class="field">
      <div class="control">
        <div class="select is-light is-small">
          <select (input)='handleChangeStatus($event.target.value)' [value]='value.status'>
            <option value="approved">อณุมัติ</option>
            <option value="pending">รอ</option>
            <option value="rejected">ปฏิเสท</option>
          </select>
        </div>
        โดย {{ value.user.nameTH }} {{ value.user.surnameTH }}
      </div>
    </div>
    <br>
    <br>
  </div>
</div>
